In [1]:
import numpy as np
import mne
import pandas as pd
import sys

In [2]:
np.set_printoptions(threshold=sys.maxsize)

In [3]:

edf = mne.io.read_raw_edf('chb01_03.edf')
header = ','.join(edf.ch_names)

Extracting EDF parameters from F:\PY\Pro\pro\chb01_03.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

<ipython-input-3-4aafe1603fd5>:1: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  edf = mne.io.read_raw_edf('chb01_03.edf')

In [ ]:
#np.savetxt('your_csv_file.csv', edf.get_data().T, delimiter=',', header=header)

In [5]:
#functions for calc of stat features
def mean_variance(df):
    variance_vals = np.var(df)
    return np.mean(variance_vals)

In [72]:
#window function to work over data and calculate features
def add_feature(start,duration):
    d = edf[:,256*start:256*(start+duration)]
    row_to_add = []
    mean_var = mean_variance(d[0])
    row_to_add.append(mean_var)
    row_to_add.append(start)
    print(row_to_add)
    return row_to_add

In [82]:
df = pd.DataFrame()

In [83]:
#driver code
start = temp = 2956
duration = 10
end = 3076
while temp<end:
    row = add_feature(temp,duration)
    df=df.append(pd.Series(row),ignore_index=True)
    temp = temp + duration

[8.618177788916112e-10, 2956]
[8.379900773137597e-10, 2966]
[1.1772891767328155e-09, 2976]
[8.952182468400679e-10, 2986]
[7.618194237557255e-09, 2996]
[8.034266554804153e-09, 3006]
[1.2248490569519447e-08, 3016]
[9.671342629089336e-09, 3026]
[5.052320069911444e-09, 3036]
[5.82270995564601e-09, 3046]
[3.923023338476602e-09, 3056]
[3.5030143390578514e-09, 3066]

In [84]:
df

               0       1
0   8.618178e-10  2956.0
1   8.379901e-10  2966.0
2   1.177289e-09  2976.0
3   8.952182e-10  2986.0
4   7.618194e-09  2996.0
5   8.034267e-09  3006.0
6   1.224849e-08  3016.0
7   9.671343e-09  3026.0
8   5.052320e-09  3036.0
9   5.822710e-09  3046.0
10  3.923023e-09  3056.0
11  3.503014e-09  3066.0