In [1]:
import pandas as pd
from fe import read_data, drop_11, drop_8, trim, write_to_file

In [28]:
k = pd.read_csv('Main.csv')
k

    S. No.  Patient      File  Start   End  Duration
0         1   chb01  chb01_03   2996  3036        40
1         2   chb01  chb01_04   1467  1494        27
2         3   chb01  chb01_15   1732  1772        40
3         4   chb01  chb01_16   1015  1066        51
4         5   chb01  chb01_18   1720  1810        90
5         6   chb01  chb01_21    327   420        93
6         7   chb01  chb01_26   1862  1963       101
7        40   chb08  chb08_02   2670  2841       171
8        41   chb08  chb08_05   2856  3046       190
9        42   chb08  chb08_11   2988  3122       134
10       43   chb08  chb08_13   2417  2577       160
11       44   chb08  chb08_21   2083  2347       264
12       56   chb11  chb11_82    298   320        22
13       57   chb11  chb11_92   2695  2727        32
14       58   chb11  chb11_99   1454  2206       752
15      111   chb14  chb14_03   1986  2000        14
16      112   chb14  chb14_04   1372  1392        20
17      113   chb14  chb14_04   2817  2839        22
18      114   chb14  chb14_06   1911  1925        14
19      115   chb14  chb14_11   1838  1879        41
20      116   chb14  chb14_17   3239  3259        20
21      117   chb14  chb14_18   1039  1061        22
22      118   chb14  chb14_27   2833  2849        16
23      161   chb20  chb20_12     94   123        29
24      162   chb20  chb20_13   1440  1470        30
25      163   chb20  chb20_13   2498  2537        39
26      164   chb20  chb20_14   1971  2009        38
27      165   chb20  chb20_15    390   425        35
28      166   chb20  chb20_15   1689  1738        49
29      167   chb20  chb20_16   2226  2261        35
30      168   chb20  chb20_68   1393  1432        39

In [29]:
chb01 = k.iloc[0:7,:]
chb01

   S. No.  Patient      File  Start   End  Duration
0        1   chb01  chb01_03   2996  3036        40
1        2   chb01  chb01_04   1467  1494        27
2        3   chb01  chb01_15   1732  1772        40
3        4   chb01  chb01_16   1015  1066        51
4        5   chb01  chb01_18   1720  1810        90
5        6   chb01  chb01_21    327   420        93
6        7   chb01  chb01_26   1862  1963       101

In [30]:
chb08 = k.iloc[7:12, :]
chb08

    S. No.  Patient      File  Start   End  Duration
7        40   chb08  chb08_02   2670  2841       171
8        41   chb08  chb08_05   2856  3046       190
9        42   chb08  chb08_11   2988  3122       134
10       43   chb08  chb08_13   2417  2577       160
11       44   chb08  chb08_21   2083  2347       264

In [31]:
chb11 = k.iloc[12:15, :]
chb11

    S. No.  Patient      File  Start   End  Duration
12       56   chb11  chb11_82    298   320        22
13       57   chb11  chb11_92   2695  2727        32
14       58   chb11  chb11_99   1454  2206       752

In [32]:
chb14 = k.iloc[15:23, :]
chb14

    S. No.  Patient      File  Start   End  Duration
15      111   chb14  chb14_03   1986  2000        14
16      112   chb14  chb14_04   1372  1392        20
17      113   chb14  chb14_04   2817  2839        22
18      114   chb14  chb14_06   1911  1925        14
19      115   chb14  chb14_11   1838  1879        41
20      116   chb14  chb14_17   3239  3259        20
21      117   chb14  chb14_18   1039  1061        22
22      118   chb14  chb14_27   2833  2849        16

In [33]:
chb20 = k.iloc[23:, :]
chb20

    S. No.  Patient      File  Start   End  Duration
23      161   chb20  chb20_12     94   123        29
24      162   chb20  chb20_13   1440  1470        30
25      163   chb20  chb20_13   2498  2537        39
26      164   chb20  chb20_14   1971  2009        38
27      165   chb20  chb20_15    390   425        35
28      166   chb20  chb20_15   1689  1738        49
29      167   chb20  chb20_16   2226  2261        35
30      168   chb20  chb20_68   1393  1432        39

In [3]:
r = k.loc[0,:]


df, data = read_data(r.Patient, r.File)
drop_8(df)
df1, start, end, temp = trim(df, r.Start, r.End)
write_to_file('Test.csv', 'w', start, end, temp, df1, data, 1)

Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_03.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

In [6]:
r = pd.read_csv('Test.csv')
x= pd.read_csv('Training_Data.csv')

   1.0685755615085263e-08  0.82322913323606  -0.06170058850307477  \
0            1.274821e-08         -0.018703              0.020761
1            2.104952e-08          0.198777             -0.068238
2            1.584321e-08          1.387504             -0.013851

   0.5739904661405857  0.004983681101181858  295.3941158801064  \
0            0.559797              0.010023         156.875304
1            0.563137              0.006890         221.394111
2            0.569333              0.005450         291.231358

   0.3454710307347043  1
0            0.439015  1
1            0.300134  1
2            0.222944  1

In [34]:
r

,1.0685755615085263e-08,0.82322913323606,-0.06170058850307477,0.5739904661405857,0.004983681101181858,295.3941158801064,0.3454710307347043,1
0,1.274821e-08,-0.018703,0.020761,0.559797,0.010023,156.875304,0.439015,1
1,2.104952e-08,0.198777,-0.068238,0.563137,0.006890,221.394111,0.300134,1
2,1.584321e-08,1.387504,-0.013851,0.569333,0.005450,291.231358,0.222944,1
3,1.802177e-08,0.372695,0.025012,0.565820,0.005071,342.674587,0.289082,1
4,1.588676e-08,1.328609,-0.311919,0.560819,0.007404,234.837769,0.330675,1
...,...,...,...,...,...,...,...,...
135,2.257190e-08,1.439037,0.351255,0.585152,0.002368,482.895407,0.190673,1
136,1.943444e-08,1.600538,0.445684,0.580240,0.002195,489.002181,0.174936,1
137,5.144338e-09,1.785788,0.117611,0.576760,0.003015,346.889459,0.211012,1
138,5.962677e-09,5.497324,-0.821217,0.571258,0.002588,443.293630,0.207520,1
139,1.597080e-08,0.630147,0.322763,0.597311,0.003520,274.853814,0.224916,1

In [8]:
x

,1.0685755615085263e-08,0.82322913323606,-0.06170058850307477,0.5739904661405857,0.004983681101181858,295.3941158801064,0.3454710307347043,1
0,1.274821e-08,-0.018703,0.020761,0.559797,0.010023,156.875304,0.439015,1
1,2.104952e-08,0.198777,-0.068238,0.563137,0.006890,221.394111,0.300134,1
2,1.584321e-08,1.387504,-0.013851,0.569333,0.005450,291.231358,0.222944,1
3,1.802177e-08,0.372695,0.025012,0.565820,0.005071,342.674587,0.289082,1
4,1.588676e-08,1.328609,-0.311919,0.560819,0.007404,234.837769,0.330675,1
...,...,...,...,...,...,...,...,...
1759,7.014591e-09,3.282963,0.045695,0.567709,0.005494,293.183844,0.239729,0
1760,1.801190e-09,3.430206,0.676670,0.563081,0.006004,235.861315,0.264967,0
1761,8.055922e-10,0.703640,0.190514,0.566947,0.007252,188.500703,0.632142,0
1762,8.731599e-10,3.349061,0.824983,0.570406,0.005277,243.242697,0.667451,0
1763,5.989032e-10,0.945625,0.384821,0.573672,0.006626,166.595119,0.710539,0

In [39]:
patients = [chb01, chb08, chb11, chb14, chb20]
files = ['chb01', 'chb08', 'chb11', 'chb14', 'chb20']

for i, patient in enumerate(patients):
    for index, row in patient.iterrows():
        print(index, row.Patient, row.File)
        df, data = read_data(row.Patient, row.File)
        if(row.Patient == 'chb01' or row.Patient == 'chb08' ):
            drop_8(df)
        else:
            drop_11(df)
        df1, start, end, temp = trim(df, row.Start, row.End)
        n = 'w' if index==0 else 'a'
        write_to_file('{}.csv'.format(files[i]), n, start, end, temp, df1, data, 1)

0 chb01 chb01_03
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_03.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

1 chb01 chb01_04
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_04.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

2 chb01 chb01_15
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_15.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

3 chb01 chb01_16
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_16.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

4 chb01 chb01_18
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_18.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

5 chb01 chb01_21
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_21.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

6 chb01 chb01_26
Extracting EDF parameters from C:\Users\upama\BTP\data\chb01\chb01_26.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

7 chb08 chb08_02
Extracting EDF parameters from C:\Users\upama\BTP\data\chb08\chb08_02.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

8 chb08 chb08_05
Extracting EDF parameters from C:\Users\upama\BTP\data\chb08\chb08_05.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

9 chb08 chb08_11
Extracting EDF parameters from C:\Users\upama\BTP\data\chb08\chb08_11.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

10 chb08 chb08_13
Extracting EDF parameters from C:\Users\upama\BTP\data\chb08\chb08_13.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

11 chb08 chb08_21
Extracting EDF parameters from C:\Users\upama\BTP\data\chb08\chb08_21.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

12 chb11 chb11_82
Extracting EDF parameters from C:\Users\upama\BTP\data\chb11\chb11_82.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

13 chb11 chb11_92
Extracting EDF parameters from C:\Users\upama\BTP\data\chb11\chb11_92.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

14 chb11 chb11_99
Extracting EDF parameters from C:\Users\upama\BTP\data\chb11\chb11_99.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

15 chb14 chb14_03
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_03.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

16 chb14 chb14_04
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_04.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

17 chb14 chb14_04
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_04.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

18 chb14 chb14_06
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_06.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

19 chb14 chb14_11
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_11.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

20 chb14 chb14_17
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_17.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

21 chb14 chb14_18
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_18.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

22 chb14 chb14_27
Extracting EDF parameters from C:\Users\upama\BTP\data\chb14\chb14_27.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'T8-P8', '-'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(
C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Scaling factor is not defined in following channels:
--0, --1, --2, --3, --4
  data = mne.io.read_raw_edf(

23 chb20 chb20_12
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_12.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

24 chb20 chb20_13
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_13.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

25 chb20 chb20_13
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_13.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

26 chb20 chb20_14
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_14.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

27 chb20 chb20_15
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_15.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

28 chb20 chb20_15
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_15.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

29 chb20 chb20_16
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_16.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

30 chb20 chb20_68
Extracting EDF parameters from C:\Users\upama\BTP\data\chb20\chb20_68.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

C:\Users\upama\BTP\fe.py:163: RuntimeWarning: Channel names are not unique, found duplicates for: {'.', 'T8-P8'}. Applying running numbers for duplicates.
  data = mne.io.read_raw_edf(

In [45]:
r = pd.read_csv('chb11.csv')
r

,4.227715406681432e-09,1.8052998459646645,-0.01837175530683253,0.5727889998802773,0.009533576504163657,180.96619692252867,0.6238988887676594,1
0,6.030052e-09,1.467787,0.146740,0.583872,0.007093,223.093965,0.564422,1
1,4.441636e-09,0.203961,-0.163504,0.590265,0.022474,82.840295,0.540961,1
2,3.550449e-09,3.335068,0.309874,0.573215,0.007163,235.436097,0.507823,1
3,7.905541e-09,3.391211,-0.113185,0.573586,0.006044,264.768765,0.492300,1
4,1.174470e-08,2.038015,0.196302,0.571413,0.006700,256.025607,0.493667,1
...,...,...,...,...,...,...,...,...
77,5.116813e-09,0.479818,-0.268320,0.594125,0.002957,254.917613,0.396060,1
78,5.239816e-09,2.793994,0.197507,0.586291,0.002679,315.826600,0.342642,1
79,1.174532e-09,1.259988,-0.094306,0.584956,0.003334,315.919782,0.347011,1
80,1.239894e-09,1.058945,-0.215377,0.590897,0.002961,282.219334,0.409566,1
81,3.292568e-09,9.152216,0.326234,0.612372,0.013338,94.671414,0.106529,1